<p style="color: green"><%= notice %></p>

<% content_for :title, "Restaurants" %>

<h1>Restaurants</h1>

<div data-controller="map">
  <div data-map-target="container" 
       style="height: 400px;"
       data-map-latitude-value="35.681236"
       data-map-longitude-value="139.767125"
       data-map-zoom-value="13">
  </div>

  <div id="restaurants">
    <%= turbo_frame_tag "restaurant-list" do %>
      <% @restaurants.each do |restaurant| %>
        <%= turbo_frame_tag dom_id(restaurant) do %>
          <div><%= restaurant.name %></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "New restaurant", new_restaurant_path %>
