<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<div>
  <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
  <%= link_to "Back to restaurants", restaurants_path %>

  <%= button_to "Destroy this restaurant", @restaurant, method: :delete %>
</div>

<h2>Reviews</h2>
<%= form_with(model: [@restaurant, Review.new]) do |form| %>
<div class="field">
  <%= form.label :content %>
  <%= form.text_area :content %>
</div>
<div class="actions">
  <%= form.submit %>
</div>
<% end %>

<% @restaurant.reviews.each do |review| %>
<p><%= review.content %></p>
<% end %>

<div id="map" style="height: 400px;"></div>

<div>
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p>緯度: <%= @restaurant.latitude %></p>
  <p>経度: <%= @restaurant.longitude %></p>
</div>

<script>
document.addEventListener("turbo:load", function() {
  const map = L.map('map').setView([<%= @restaurant.latitude %>, <%= @restaurant.longitude %>], 15);

  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  const marker = L.marker([<%= @restaurant.latitude %>, <%= @restaurant.longitude %>]).addTo(map);
  marker.bindPopup("<b><%= @restaurant.name %></b><br><%= @restaurant.address %>");
});
</script>